apiVersion: apps/v1
kind: Deployment 
metadata:
  name: backend-deploymnet
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-deployment
  template:
    metadata:
      labels:
        app: backend-deployment  
    spec:
      containers:
        - name: backend 
          image: d
          imagePullPolicy: Never
          ports:
          - name: http 
            containerPort: 8081
            env:
            - name: DB_PASSWORD
              valueFrom: