apiVersion: apps/v1
kind: Deployment 
metadata:
  name: backend-deployment
  namespace: crud-app-backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-deployment
  template:
    metadata:
      labels:
        app: backend-deployment  
    spec:
      containers:
        - name: backend 
          image: tugrulhan/backend-app:latest
          imagePullPolicy: Always
          ports:
            - name: http 
              containerPort: 8081
          env:
            # ÖNEMLİ: Eğer DB bilgisayarındaysa 'host.minikube.internal' kullan. 
            # Eğer K8s içindeyse buraya Postgres servis adını yaz.
            - name: DB_HOST
              value: "host.minikube.internal" 
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: crud-app-backend-secret
                  key: DB_NAME
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: crud-app-backend-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: crud-app-backend-secret
                  key: DB_PASSWORD