apiVersion: apps/v1
kind: Deployment 
metadata:
  name: backend-deployment
  namespace: crud-app-backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-deployment
  template:
    metadata:
      labels:
        app: backend-deployment  
    spec:
      containers:
        - name: backend 
          image: tugrulhan/backend-app:latest
          imagePullPolicy: Always
          ports:
            - name: http 
              containerPort: 8081
          env: # <--- Port ile aynı hizada olmalı, içine yazılmamalı
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: crud-app-backend-secret
                  key: DB_NAME
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: crud-app-backend-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: crud-app-backend-secret
                  key: DB_PASSWORD